table {
  border: 2px solid white;
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto; 
  background-color:rgba(1,5,19,0.58);
  width: 80%;
  height: 100%;
  color: white;
}

a {
  color: #49CEA5;
}

td {
  text-align: center;
  padding: 5px;
  border: 2px solid black;
}

.form {
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 8px;
 }

 h1 {
  font-size: 45px;
  color: black;
  text-decoration: underline;
 }

 h3 {
  font-size: 25px;
 }

.center {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-bottom: 3px;
  text-align: center;
  background-color:rgba(31,56,150,0.35);
  color: white;
}

body {
  background-image: url(https://images.unsplash.com/uploads/14127101912749510b8ed/82743738?ixlib=rb-0.3.5&q=80&fm=jpg&s=7d11b6771c0f2ff1a7f45d35fd4bb4e3);
  /*background-image: url(/assets/background.jpeg);*/
  background-size: cover;
  background-repeat: no-repeat;
  font-family: monospace;
}



