table {
  border: 2px solid black;
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto; 
}

td {
  text-align: center;
  padding: 5px;
  border: 2px solid black;
}

.form {
  width: 20%;
  margin-right: auto;
  margin-left: auto;
}
